.button { 
    border: none;
    background-color: #2a3fff;
    cursor: pointer;
    padding: none;
    width: 10%;
}
.button:hover { 
    background-color: #1d2db9;
    
}
.button:active { 
    background-color: #15218b;
}
